@import '~antd/dist/antd.css';

 
  *{
    padding:0;
    margin:0;

  } 
  body{
      background-color: #ccc;
  }
  .header{
      height:50px;
      background-color:#444;
  } 
  .header header{
    width:1200px;
    line-height:50px;
    margin:0 auto;
  }
  .header header a{
      margin-left:10px;
      color:#fff;
  }
  .header img{
      width:120px;
  }
  /*content*/
.content{
    width:1200px;
    margin:30px auto 0;
}
.left{
    width:900px;
    float:left;
}
.right{
    width:270px;
    float:right;
}
.right1{
    /* width:270px;
    height:115px; */
    background-color:#fff;
    margin-bottom:13px;
}
.inner{
    padding:10px;
    line-height: 1.6em;
}
.span{
    display: inline-block;
    float: none;
    padding: 3px 10px;
    border: none;
    margin: 0;
    font-size: 14px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: none;
    border-radius: 3px;
    line-height: 2em;
    vertical-align: middle;
    color: #fff;
    background-color: #5bc0de;
}
p{
    display: block;
}
.inner1{
    padding:10px;
    width:270px;
    height:225px;
    background-color:#fff;
}
.inner1 img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.img{
    margin-top:10px;
}
.footer{
    clear: both;
    background: #fff;
}
.footer1{
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 0 auto;
    color: #e2e2e2;
    padding: 20px 0;
    font-size: 13px;
    line-height: 2em;
}
.dark{
    color: #666;
    text-decoration: none;
}
.col{
    color: #ababab;
}
.col p{
    display: block;
    font-size: 14px;
}
.col img{
    height:18.4px;
    width:92px;
}






























































































